.full-width {
  width: 100%;
}
.large-text {
  font-size: 1.4em;
}
.small-text {
  font-size: 0.8em;
}
.normal-text {
  font-size: 1em;
}
.middle {
  vertical-align: middle;
}
.text-center {
  text-align: center;
}
.standout-text {
  font-weight: bold;
}
.text-truncates {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.invisible {
  visibility: hidden;
}
.invert-text-colour {
  color: #ffffff;
}
.invert-text-colour h1,
.invert-text-colour h2,
.invert-text-colour h3,
.invert-text-colour h4,
.invert-text-colour h5 {
  color: #ffffff;
}
.opacity-hidden {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.opacity-hidden:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.question {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #3399ff;
  font-size: 20px;
  display: inline-block;
  margin-left: 7px;
}
.question:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.question:hover {
  color: #007fff;
  cursor: pointer;
}
.no-double-click-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@-webkit-keyframes rotate {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes scale-animation {
  1% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes scale-animation {
  1% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes scale-animation {
  1% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-animation {
  1% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes fade-in-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fade-in-right {
  0% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@-webkit-keyframes fade-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-in-from-right {
  -webkit-animation: fade-in-right 0.8s ease forwards;
  -o-animation: fade-in-right 0.8s ease forwards;
  -moz-animation: fade-in-right 0.8s ease forwards;
  animation: fade-in-right 0.8s ease forwards;
}
@-moz-keyframes slide-up-fast {
  0% {
    opacity: 0;
    -moz-transform: translateY(300px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes slide-up-fast {
  0% {
    opacity: 0;
    -o-transform: translateY(300px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes slide-up-fast {
  0% {
    opacity: 0;
    -webkit-transform: translateY(300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes slide-up-fast {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes slide-down-fast {
  0% {
    opacity: 0;
    -moz-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes slide-down-fast {
  0% {
    opacity: 0;
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes slide-down-fast {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes slide-down-fast {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.pulse-animation {
  -webkit-animation: pulse 4s infinite;
  -o-animation: pulse 4s infinite;
  -moz-animation: pulse 4s infinite;
  animation: pulse 4s infinite;
}
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes slideInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes slideInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.entrance-in {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: slideInRight;
  -moz-animation-name: slideInRight;
  -o-animation-name: slideInRight;
  animation-name: slideInRight;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-normal {
  -webkit-animation: fade-in 0.4s ease forwards;
  -o-animation: fade-in 0.4s ease forwards;
  -moz-animation: fade-in 0.4s ease forwards;
  animation: fade-in 0.4s ease forwards;
}
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index: 100;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0.65;
}
i.loader {
  font-size: 30px;
  padding: 50px 0;
  -webkit-animation: rotate 1s infinite linear;
  -o-animation: rotate 1s infinite linear;
  -moz-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
  color: #fe4c04;
}
i.loader-no-padding {
  font-size: 30px;
  -webkit-animation: rotate 1s infinite linear;
  -o-animation: rotate 1s infinite linear;
  -moz-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
  color: #fe4c04;
}
.cover-background-image {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.thumbnail-wrapper {
  float: left;
  padding: 0 14px 14px 0;
  line-height: 1.428571429;
  background-color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.thumbnail-small {
  width: 90px;
  height: 65px;
  padding: 5px;
  float: left;
  opacity: 1;
  cursor: pointer;
}
.thumbnail-small img {
  width: 80px;
  height: 55px;
}
.thumbnail-medium {
  width: 122px;
  height: 85px;
  padding: 5px;
  float: left;
  opacity: 1;
  cursor: pointer;
}
.thumbnail-medium img {
  width: 112px;
  height: 75px;
}
.thumbnail-small-square {
  width: 55px;
  height: 55px;
  padding: 5px;
  float: left;
  opacity: 1;
  cursor: pointer;
}
.thumbnail-small-square img {
  width: 100px;
  height: 100px;
}
.thumbnail-medium-square {
  width: 110px;
  height: 110px;
  padding: 5px;
  float: left;
  opacity: 1;
  cursor: pointer;
}
.thumbnail-medium-square img {
  width: 100px;
  height: 100px;
}
.thumbnail-large-square {
  width: 234px;
  height: 234px;
  padding: 5px;
  float: left;
  opacity: 1;
  cursor: pointer;
  margin-right: 14px;
}
.thumbnail-large-square img {
  width: 222px;
  height: 222px;
}
.thumbnail-blank {
  background-color: #dadada;
}
.map-thumbnail {
  width: 110px;
  height: 95px;
}
.property-thumb {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 110px;
  height: 75px;
}
.property-thumb-container {
  height: 234px;
  overflow: hidden;
  position: relative;
  left: 3%;
}
.responsive-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.medium-image {
  width: 170px;
  height: 113px;
}
.small-image {
  width: 70px;
  height: 46px;
}
.thumbnail-icon {
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  position: absolute;
  font-size: 30px;
  width: auto;
  height: auto;
  margin: 0px;
  top: 0px;
}
.thumbnail-icon h1,
.thumbnail-icon h2,
.thumbnail-icon h3,
.thumbnail-icon h4,
.thumbnail-icon h5 {
  color: #ffffff;
}
.thumbnail-icon.small {
  font-size: 1em;
}
.image-rect {
  position: relative;
  width: 100%;
}
.image-rect.selected {
  border: solid 3px #fe4c04;
}
.image-rect:before {
  content: "";
  display: block;
  padding-top: 60%;
  /* initial ratio of 1:1*/
}
.image-square {
  position: relative;
  width: 100%;
}
.image-square.selected {
  border: solid 3px #fe4c04;
}
.image-square:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}
.image-square-content {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.image-square-content.ui-draggable-dragging {
  z-index: 9999;
}
.image-square-content i {
  font-size: 1.4em;
}
.gallery-image-add {
  background-image: url(../images/large-plus-blue.png);
}
.gallery-image-drop-target {
  border: dashed 2px #777777;
}
.image-gallery-empty {
  position: absolute;
  width: 100%;
  height: 100%;
}
.image-gallery-empty p {
  margin-top: 40%;
}
.image-square-80 {
  width: 80px;
  height: 80px;
}
.item-description-image {
  width: 50px;
  height: 50px;
}
.image-square-content.ui-draggable-dragging {
  width: 100px !important;
  height: 100px !important;
  opacity: 0.5;
}
.property-list-image-container {
  padding: 10px;
  float: left;
}
.property-list-image-container .property-list-image {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 113px;
  height: 85px;
  border: solid 1px #dddddd;
  padding: 5px;
  margin-right: 10px;
}
.property-list-image-container .property-list-image:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.property-list-image-container .property-list-image:hover {
  opacity: 0.8;
}
.property-list-image-container .property-list-no-image {
  width: 100px;
  height: 70px;
  padding: 10px 5px 5px;
  background-color: #cccccc;
  text-align: center;
}
.property-list-image-container .property-list-no-image p {
  line-height: 1em;
  margin: 5px 0px;
}
