.full-width {
  width: 100%;
}
.large-text {
  font-size: 1.4em;
}
.small-text {
  font-size: 0.8em;
}
.normal-text {
  font-size: 1em;
}
.middle {
  vertical-align: middle;
}
.text-center {
  text-align: center;
}
.standout-text {
  font-weight: bold;
}
.text-truncates {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.invisible {
  visibility: hidden;
}
.invert-text-colour {
  color: #ffffff;
}
.invert-text-colour h1,
.invert-text-colour h2,
.invert-text-colour h3,
.invert-text-colour h4,
.invert-text-colour h5 {
  color: #ffffff;
}
.opacity-hidden {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.opacity-hidden:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.question {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #3399ff;
  font-size: 20px;
  display: inline-block;
  margin-left: 7px;
}
.question:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.question:hover {
  color: #007fff;
  cursor: pointer;
}
.no-double-click-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@-webkit-keyframes rotate {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes scale-animation {
  1% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes scale-animation {
  1% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes scale-animation {
  1% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-animation {
  1% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes fade-in-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fade-in-right {
  0% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@-webkit-keyframes fade-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-in-from-right {
  -webkit-animation: fade-in-right 0.8s ease forwards;
  -o-animation: fade-in-right 0.8s ease forwards;
  -moz-animation: fade-in-right 0.8s ease forwards;
  animation: fade-in-right 0.8s ease forwards;
}
@-moz-keyframes slide-up-fast {
  0% {
    opacity: 0;
    -moz-transform: translateY(300px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes slide-up-fast {
  0% {
    opacity: 0;
    -o-transform: translateY(300px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes slide-up-fast {
  0% {
    opacity: 0;
    -webkit-transform: translateY(300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes slide-up-fast {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes slide-down-fast {
  0% {
    opacity: 0;
    -moz-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes slide-down-fast {
  0% {
    opacity: 0;
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes slide-down-fast {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes slide-down-fast {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.pulse-animation {
  -webkit-animation: pulse 4s infinite;
  -o-animation: pulse 4s infinite;
  -moz-animation: pulse 4s infinite;
  animation: pulse 4s infinite;
}
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes slideInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes slideInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.entrance-in {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: slideInRight;
  -moz-animation-name: slideInRight;
  -o-animation-name: slideInRight;
  animation-name: slideInRight;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-normal {
  -webkit-animation: fade-in 0.4s ease forwards;
  -o-animation: fade-in 0.4s ease forwards;
  -moz-animation: fade-in 0.4s ease forwards;
  animation: fade-in 0.4s ease forwards;
}
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index: 100;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0.65;
}
i.loader {
  font-size: 30px;
  padding: 50px 0;
  -webkit-animation: rotate 1s infinite linear;
  -o-animation: rotate 1s infinite linear;
  -moz-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
  color: #fe4c04;
}
i.loader-no-padding {
  font-size: 30px;
  -webkit-animation: rotate 1s infinite linear;
  -o-animation: rotate 1s infinite linear;
  -moz-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
  color: #fe4c04;
}
.circle-fixed {
  border-radius: 50%;
}
.arrow-left-fixed {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid black;
}
.arrow-up-fixed {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}
.arrow-down-fixed {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}
.arrow-right-fixed {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
}
.status {
  height: 10px;
  width: 10px;
  display: inline-block;
}
.status-online {
  background-color: #5cb85c;
}
.status-offline {
  background-color: #b52c27;
}
.status-idle {
  background-color: #ffa500;
}
.status-group {
  background-color: #808080;
}
.notification-navbar {
  position: relative;
  width: 34px;
  padding-top: 8px;
  margin: 1px 10px 0 10px;
  cursor: pointer;
}
.notification-navbar .notification-count {
  border-radius: 50%;
  top: 4px;
  right: 0;
  width: 20px;
  background-color: #fe4c04;
}
.notification-navbar i {
  color: #aaaaaa;
}
.notification-navbar i:hover {
  color: #ffffff;
}
.notification {
  position: relative;
  margin: 1px 1px 1px 1px;
  background-color: #fe4c04;
  border-radius: 3px;
  float: left;
  width: 20px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}
.notification h1,
.notification h2,
.notification h3,
.notification h4,
.notification h5 {
  color: #ffffff;
}
.notification-info {
  background-color: #314f8e;
}
.notification-count {
  width: 20px;
  height: 20px;
  background-color: #da2c01;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  position: absolute;
  color: #ffffff;
  display: inline-block;
}
.notification-count h1,
.notification-count h2,
.notification-count h3,
.notification-count h4,
.notification-count h5 {
  color: #ffffff;
}
.notification-count h1,
.notification-count h2,
.notification-count h3,
.notification-count h4,
.notification-count h5 {
  color: #ffffff;
}
.notification-popup-window {
  position: absolute;
  outline: none;
  padding: 12px;
  background-color: #eeeeee;
}
.notification-popup {
  width: 450px;
  height: 700px;
  margin-top: 20px;
  left: -338px;
  box-shadow: 0 0 10px 5px #666666;
  border: 2px solid #333333;
  position: absolute;
  outline: none;
  padding: 12px;
  background-color: #eeeeee;
}
.notification-popup .top {
  display: block;
  margin-top: -26px;
  margin-left: 340px;
  height: 20px;
  width: 20px;
}
.contact-card-content {
  margin-top: 20px;
  color: #777777;
  font-weight: normal;
  font-size: 15px;
}
.contact-card-content div.row {
  margin-top: 10px;
}
.contact-card-content i.contact-icon {
  color: #777777;
  padding-top: 0;
  font-size: 24px;
}
.contact-card-content .top {
  display: block;
  margin-top: -26px;
  margin-left: 5px;
  height: 20px;
  width: 20px;
}
.contact-card-content .top .char-arrow-up2 {
  color: #eeeeee !important;
  font-size: 50px;
  margin-top: -18px;
}
.contact-card-content .top.arrow-right {
  float: right;
  margin-right: 40px;
}
.contact-card-content .top.arrow-middle {
  margin: -26px auto 0 auto;
}
.contact-card {
  border: none;
  box-shadow: 3px 3px 10px 0px #333333;
  position: absolute;
  outline: none;
  padding: 12px;
  background-color: #eeeeee;
  margin-top: 20px;
  color: #777777;
  font-weight: normal;
  font-size: 15px;
}
.contact-card div.row {
  margin-top: 10px;
}
.contact-card i.contact-icon {
  color: #777777;
  padding-top: 0;
  font-size: 24px;
}
.contact-card .top {
  display: block;
  margin-top: -26px;
  margin-left: 5px;
  height: 20px;
  width: 20px;
}
.contact-card .top .char-arrow-up2 {
  color: #eeeeee !important;
  font-size: 50px;
  margin-top: -18px;
}
.contact-card .top.arrow-right {
  float: right;
  margin-right: 40px;
}
.contact-card .top.arrow-middle {
  margin: -26px auto 0 auto;
}
.contact-card-small {
  min-width: 550px;
  min-height: 215px;
  z-index: 10;
  border: none;
  box-shadow: 3px 3px 10px 0px #333333;
  position: absolute;
  outline: none;
  padding: 12px;
  background-color: #eeeeee;
  margin-top: 20px;
  color: #777777;
  font-weight: normal;
  font-size: 15px;
}
.contact-card-small div.row {
  margin-top: 10px;
}
.contact-card-small i.contact-icon {
  color: #777777;
  padding-top: 0;
  font-size: 24px;
}
.contact-card-small .top {
  display: block;
  margin-top: -26px;
  margin-left: 5px;
  height: 20px;
  width: 20px;
}
.contact-card-small .top .char-arrow-up2 {
  color: #eeeeee !important;
  font-size: 50px;
  margin-top: -18px;
}
.contact-card-small .top.arrow-right {
  float: right;
  margin-right: 40px;
}
.contact-card-small .top.arrow-middle {
  margin: -26px auto 0 auto;
}
.contact-card-small.active:after {
  content: "TEST!";
}
i.char.loader {
  color: #fe4c04;
}
.row.loader {
  text-align: center;
}
.notification-icon {
  color: #fe4c04;
}
.notification-icon-lg {
  color: #fe4c04;
  font-size: 1.8em;
}
.ui-draggable-dragging .hide-when-dragging {
  display: none;
}
.offscreen-notification {
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: #55ee55;
  width: 110px;
  height: 55px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.offscreen-notification p {
  padding: 10px 5px;
  color: #ffffff;
  text-align: center;
}
.offscreen-notification p h1,
.offscreen-notification p h2,
.offscreen-notification p h3,
.offscreen-notification p h4,
.offscreen-notification p h5 {
  color: #ffffff;
}
.offscreen-notification .offscreen-notification-pointer {
  background-color: transparent;
  position: absolute;
  margin-left: -7px;
  left: 50%;
  bottom: -14px;
  text-align: center;
  display: block;
  width: 14px;
  height: 14px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 14px solid #55ee55;
}
