@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        /*font-size: 49px;*/
        font-style: normal;
        margin-left: 0px;
}.flaticon-criminal11:before {
	content: "\e000";
}
.flaticon-criminal20:before {
	content: "\e001";
}
.flaticon-criminal6:before {
	content: "\e002";
}
.flaticon-fingerprint48:before {
	content: "\e003";
}
.flaticon-gun9:before {
	content: "\e004";
}
.flaticon-hat6:before {
	content: "\e005";
}
.flaticon-left208:before {
	content: "\e006";
}
.flaticon-legal10:before {
	content: "\e007";
}
.flaticon-man198:before {
	content: "\e008";
}
.flaticon-pill:before {
	content: "\e009";
}
.flaticon-police22:before {
	content: "\e00a";
}
.flaticon-police4:before {
	content: "\e00b";
}
.flaticon-right208:before {
	content: "\e00c";
}
.flaticon-spy2:before {
	content: "\e00d";
}
.flaticon-unrecognizable1:before {
	content: "\e00e";
}
