@{
    Layout = null;
}

<!-- Placeholder content-->
<section data-id="PropertyList.InstructedSales" class="tab-content-area content">
    <div class="container">
        Property Tab
    </div>

        
    
</section>

